@charset "UTF-8";
/* stylelint-disable value-keyword-case */
/* stylelint-enable value-keyword-case */
/* stylelint-disable value-keyword-case */
/* stylelint-disable enable-keyword-case */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  text-decoration: none;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  -webkit-padding-end: 0;
  padding-inline-end: 0;
  -webkit-padding-before: 0;
  padding-block-start: 0;
  -webkit-padding-after: 0;
  padding-block-end: 0;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
}
*:visited {
  color: inherit;
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
  overflow-x: clip;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

img {
  max-width: 100%;
}

img,
button {
  user-select: none;
}

img,
video,
figure,
picture,
label,
embed,
ul,
li {
  display: block;
}

img,
video,
figure,
picture {
  height: auto;
}

fieldset {
  border: none;
  padding: 0;
}

a {
  cursor: pointer;
  transition: all 0.2s ease;
}
a:hover {
  transition: all 0.2s ease;
}

nav ul {
  list-style-type: none;
}

iframe {
  border: none;
  color-scheme: normal;
}

q {
  quotes: "“" "”" "‘" "’";
}
q::before {
  content: open-quote;
}
q::after {
  content: close-quote;
}

figure,
picture {
  overflow: hidden;
  position: relative;
}

pre {
  margin: 0;
}

button {
  appearance: none;
  align-items: unset;
  background-color: transparent;
  margin: unset;
  padding: unset;
  border: none;
  font: unset;
  font-size: inherit;
  font-family: "Inter", sans-serif, -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
}
button:hover {
  cursor: pointer;
}

html {
  background-color: #fff;
}
html.open .responsiveNav {
  display: block;
}
html.overflow-hidden {
  overflow: hidden;
}

a {
  text-decoration: underline;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.25em;
}

html {
  font-family: "Inter", sans-serif, -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  line-height: 150%;
  font-weight: 400;
}

p,
.p {
  color: #3d3c38;
  font-size: calc(
    1rem + (18 - 16) * ((
            100vw - 320px
          ) / (1280 - 320))
  );
}
@media (max-width: 320px) {
  p,
.p {
    font-size: 1rem;
  }
}
@media (min-width: 1280px) {
  p,
.p {
    font-size: 1.125rem;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Inter", sans-serif, -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  color: #000;
  line-height: 1.25em;
}

h1,
.h1 {
  font-size: calc(
    2.5rem + (48 - 40) * ((
            100vw - 320px
          ) / (1280 - 320))
  );
}
@media (max-width: 320px) {
  h1,
.h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1280px) {
  h1,
.h1 {
    font-size: 3rem;
  }
}

h2,
.h2 {
  font-size: calc(
    2rem + (40 - 32) * ((
            100vw - 320px
          ) / (1280 - 320))
  );
}
@media (max-width: 320px) {
  h2,
.h2 {
    font-size: 2rem;
  }
}
@media (min-width: 1280px) {
  h2,
.h2 {
    font-size: 2.5rem;
  }
}

h3,
.h3 {
  font-size: calc(
    1.75rem + (32 - 28) * ((
            100vw - 320px
          ) / (1280 - 320))
  );
}
@media (max-width: 320px) {
  h3,
.h3 {
    font-size: 1.75rem;
  }
}
@media (min-width: 1280px) {
  h3,
.h3 {
    font-size: 2rem;
  }
}

h4,
.h4 {
  font-size: calc(
    1.5rem + (28 - 24) * ((
            100vw - 320px
          ) / (1280 - 320))
  );
}
@media (max-width: 320px) {
  h4,
.h4 {
    font-size: 1.5rem;
  }
}
@media (min-width: 1280px) {
  h4,
.h4 {
    font-size: 1.75rem;
  }
}

h5,
.h5 {
  font-size: calc(
    1.25rem + (24 - 20) * ((
            100vw - 320px
          ) / (1280 - 320))
  );
}
@media (max-width: 320px) {
  h5,
.h5 {
    font-size: 1.25rem;
  }
}
@media (min-width: 1280px) {
  h5,
.h5 {
    font-size: 1.5rem;
  }
}

h6,
.h6 {
  font-size: calc(
    1rem + (20 - 16) * ((
            100vw - 320px
          ) / (1280 - 320))
  );
}
@media (max-width: 320px) {
  h6,
.h6 {
    font-size: 1rem;
  }
}
@media (min-width: 1280px) {
  h6,
.h6 {
    font-size: 1.25rem;
  }
}

.screenReaderOnly {
  position: absolute;
  overflow: hidden;
  top: auto;
  left: -10000px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
}

.resizeTransitionStopper .responsiveNav,
.resizeTransitionStopper .responsiveNav .nav {
  transition: none !important;
}

@media print {
  #__next > *:not(main) {
    display: none;
  }
  html,
body,
#__next {
    height: auto;
    overflow-y: scroll;
  }
  html body {
    position: unset;
    top: unset;
    left: unset;
    bottom: unset;
    right: unset;
  }
  html body > *:not(#__next) {
    display: none;
  }
}

/*# sourceMappingURL=global.css.map */
