@use '../scss/site/01-config' as *;
@use '../scss/engine/core' as *;
@use '../scss/site/02-base' as *;
@use '../scss/site/03-components' as *;
@use '../scss/site/04-modules' as *;
@use '../scss/site/05-pages' as *;
@use '../scss/engine/utilities/display' as *;
@use '../scss/engine/utilities/dev' as *;
@use '../scss/engine/utilities/spacing' as *;
@use '../scss/engine/utilities/flex' as *;

body {
  border: 25pxv solid burlywood;
  background: lavenderblush;
  padding: 15pxv 40pxv;
}

h1 {
  --font-min-clamp: 48px;
  --font-max-clamp: 52px;
  --font-size: 50pxv; /* author-friendly syntax */
}

h2 {
  --font-min-clamp: 68px;
  --font-size: 70pxv; /* author-friendly syntax */
}

.box {
  background-color: darkblue;
  color: whitesmoke;
  width: 270pxv;
  height: 200pxv;
}
