$ms: 320 !default; // Mobile smal
$mm: 375 !default; // Mobile medium
$ml: 500 !default; // Mobile large
$ts: 600 !default; // Tablet small
$tm: 768 !default; // Tablet medium
$tl: 1024 !default; // Tablet large
$dxs: $tl !default; // Desktop x-small
$ds: 1280 !default; // Desktop small
$dm: 1440 !default; // Desktop medium
$dl: 1600 !default; // Desktop large
$dxl: 1800 !default; // Desktop x-large

@use 'sass:math';
@import '../scss/global';

// write test code here

$navWidth: rem(200);

main {
  padding: 5%;

  @media (min-width: #{$tl}px) {
    margin-left: $navWidth;
  }
}

.vwtest {
  width: 100%;
  background: peachpuff;

  @media (min-width: #{$tl}px) {
    background: powderblue;
    width: vw(300px);
  }
}

article {
  margin-bottom: vw(40px);
}

code {
  display: block;
  background: #1f212a;
  padding: vw(5px) vw(10px);
  border-radius: vw(5px);
  color: #fff;
  font-weight: 500;
  line-height: 1.3;
  width: 100%;
}

#width {
  position: fixed;
  top: 0;
  right: 0;
  background: lightgreen;
  padding: 10px;

  &::before,
  span {
    font-weight: bold;
    font-size: rem(24);
  }

  @media (min-width: 1px) and (max-width: #{($mm - 1)}px) {
    background: lightseagreen;

    &::before {
      content: 'Below $ms: ';
    }
  }

  @media (min-width: #{$ms}px) {
    background: lightblue;

    &::before {
      content: '$ms: ';
    }
  }

  @media (min-width: #{$mm}px) {
    background: lightgoldenrodyellow;

    &::before {
      content: '$mm: ';
    }
  }

  @media (min-width: #{$ml}px) {
    background: yellow;

    &::before {
      content: '$ml: ';
    }
  }

  @media (min-width: #{$ts}px) {
    background: lightsalmon;

    &::before {
      content: '$ts: ';
    }
  }
  @media (min-width: #{$tm}px) {
    background: lightsteelblue;

    &::before {
      content: '$tm: ';
    }
  }
  @media (min-width: #{$tl}px) {
    background: lightpink;

    &::before {
      content: '$tl: ';
    }
  }

  @media (min-width: #{$dm}px) {
    background: rgb(90 216 244);

    &::before {
      content: '$dm: ';
    }
  }

  @media (min-width: #{$dl}px) {
    background: rgb(147 245 128);

    &::before {
      content: '$dl: ';
    }
  }

  @media (min-width: #{$dxl}px) {
    background: yellow;

    &::before {
      content: '$dxl: ';
    }
  }
}

.sideNav {
  height: 100vw;
  overflow-y: scroll;
  position: fixed;
  width: $navWidth;
  background: #eee;
  display: none;
  padding: rem(20);

  @media (min-width: #{$tl}px) {
    display: block;
  }
}

.sideNav ul {
  // display: none;
  & li {
    & a {
      text-decoration: none;
      color: #666;
      font-weight: 600;

      &:hover {
        color: #333;
      }
    }
  }
}

.stressTest {
  display: flex;
  flex-wrap: wrap;
}

.stressTest div:nth-child(even) {
  background: peachpuff;
  color: tomato;
}
@for $i from 1 through 300 {
  .stressTest div:not(#width):nth-child(3n + #{$i}) {
    width: vw($i * 1px);
    border: 1px solid green;
    height: vw($i * 0.3);
    padding: vw(1px) vw(3px);
    margin: vw(2px) vw(3px);

    &::before {
      content: 'asdfsf';
    }
  }
}

.test .btn {
  display: inline-block;
  border-radius: 9999px;
  text-decoration: none;
  font-weight: 600;
  padding: em(10px) em(20px);
  color: #fff;
  background: darkmagenta;
}

.test .btn.vw {
  padding: vw(10px, mobile) vw(20px, mobile);
  background: darkslategray;

  @media (min-width: #{$tm}px) and (max-width: #{$tl}px) {
    padding: rem(10px) rem(20px);
  }

  @media (min-width: #{$tl}px) {
    padding: vw(10px) vw(20px);
  }
}

.vwTestContainer {
  display: flex;
}

.vwTestContainer div {
  margin: vw(10px, mobile);
  background: #abebc6;
  width: vw(30px, mobile);
  height: vw(30px, mobile);

  @media (min-width: #{$tl}px) {
    margin: vw(50px);
    background: #45b39d;
  }
}

.negative {
  border: 2px solid mediumaquamarine;
  background: honeydew;
  width: vw(300px);
  margin-top: vw(-30px);
  margin-left: vw(-30px);
  padding: vw(10px);
}

%h-xxl {
  --fontSize: 38;
  @media (min-width: #{$tl}px) {
    --fontSize: 50;
  }
}

%h-xl {
  --fontSize: 33;
  @media (min-width: #{$tl}px) {
    --fontSize: 43;
  }
}

%h-l {
  --fontSize: 28;
  @media (min-width: #{$tl}px) {
    --fontSize: 35;
  }
}

%h-m {
  --fontSize: 24;
  @media (min-width: #{$tl}px) {
    --fontSize: 29;
  }
}

%h-s {
  --fontSize: 21;
  @media (min-width: #{$tl}px) {
    --fontSize: 24;
  }
}

%h-xs {
  --fontSize: 18;
  @media (min-width: #{$tl}px) {
    --fontSize: 20;
  }
}

%body-l {
  --fontSize: 16;
  @media (min-width: #{$tl}px) {
    --fontSize: 18;
  }
}

%body-m {
  --fontSize: 14;
  --fontSizeMinClamp: 12;
  @media (min-width: #{$tl}px) {
    --fontSize: 16;
    --fontSizeMinClamp: 14;
  }
}

h1 {
  @extend %h-xxl;
}

h2 {
  @extend %h-xl;
}

h3 {
  @extend %h-l;
}

h4 {
  @extend %h-m;
}

h5 {
  @extend %h-s;
}

h6 {
  @extend %h-xs;
}

p {
  @extend %body-m;
}
