@use 'sass:math';
@import '../scss/global';

// write test code here

$navWidth: rem(200);

main {
  padding: 5%;

  @media (min-width: #{$tl}px) {
    margin-left: $navWidth;
  }
}

.vwtest {
  width: vw(300px);
  padding-left: vw(30px);
  background: peachpuff;

  @media (max-width: #{$tl}px) {
    background: azure;
    width: 100%;
  }

  @media (min-width: #{$siteMax--desktop}px) {
    background: lime;
    width: #{math.div((300 * $siteMax--desktop), $siteBasis--desktop)}px;
  }
}

article {
  // display: flex;
  margin-bottom: vw(40px);
}

article > div:nth-of-type(1) {
  display: none;

  @media (min-width: #{$tp}px) {
    display: block;
  }
}

code {
  display: block;
  background: #1f212a;
  padding: vw(5px) vw(10px);
  border-radius: vw(5px);
  color: #fff;
  font-weight: 500;
  line-height: 1.3;
  width: 100%;

  @include setType(14, 14, 100%);
}

#width {
  position: fixed;
  top: 0;
  right: 0;
  background: lightgreen;
  padding: 10px;

  &::before,
  span {
    font-weight: bold;
    font-size: rem(24);
  }

  @media (min-width: 1px) and (max-width: #{($siteBasis--mobile - 1)}px) {
    background: lightseagreen;

    &::before {
      content: 'Below $ms: ';
    }
  }

  @media (min-width: #{$ms}px) {
    background: lightblue;

    &::before {
      content: '$ms: ';
    }
  }

  @media (min-width: #{$mp}px) {
    background: lightgoldenrodyellow;

    &::before {
      content: '$mp: ';
    }
  }

  @media (min-width: #{$ml}px) {
    background: lightsalmon;

    &::before {
      content: '$ml: ';
    }
  }
  @media (min-width: #{$tp}px) {
    background: lightsteelblue;

    &::before {
      content: '$tp: ';
    }
  }
  @media (min-width: #{$tl}px) {
    background: lightpink;

    &::before {
      content: '$tl: ';
    }
  }

  @media (min-width: #{$dk}px) {
    background: rgb(90 216 244);

    &::before {
      content: '$dk: ';
    }
  }

  @media (min-width: #{$dl}px) {
    background: rgb(147 245 128);

    &::before {
      content: '$dl: ';
    }
  }

  @media (min-width: #{$lf}px) {
    background: yellow;

    &::before {
      content: '$lf: ';
    }
  }
}

.sideNav {
  height: 100vw;
  overflow-y: scroll;
  position: fixed;
  width: $navWidth;
  background: #eee;
  display: none;
  padding: rem(20);

  @media (min-width: #{$tl}px) {
    display: block;
  }
}

.sideNav ul {
  display: none;
}
