@import '../scss/global';

// write test code here

body {
  padding: 5%;

  @media (min-width: #{$tl}px) {
    padding: 0 15vw;
  }
}

.test pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.test code {
  @extend %fluidType;

  --fontSize: 12;

  overflow-wrap: break-word;
  word-wrap: break-word;
  width: vw(350px);

  @media (min-width: #{$sitePortraitFlip}px) {
    --fontSize: 16px;
  }
}

.vwtest {
  border: 2px solid tomato;

  @media (min-width: #{$sitePortraitFlip}px) {
    width: vw(300px);
    margin-left: vw(30px);
  }
}

article {
  display: flex;
  margin-bottom: vw(40px);
}

article > div:nth-of-type(1) {
  display: none;

  @media (min-width: #{$sitePortraitFlip}px) {
    display: block;
  }
}

article div:nth-of-type(2) {
  padding-left: vw(20px);
}

code {
  display: block;
  background: #1f212a;
  padding: vw(5px) vw(10px);
  border-radius: vw(5px);
  color: #fff;
  font-weight: 500;
  line-height: 1.3;
}
