/* 📦 Site Layout — container widths, breakpoints, grid setup
 */
:root {
  --test: red;
  --site-desktop-max: 1800;

  // default mobile pxv units
  --site-mobile-max: 767;
  --site-min: 0;
  --site-basis: 375;
  --site-max: 767;
}

// Primary responsive engine
@media (min-width: 768px) {
  :root {
    --site-min: 768;
    --site-basis: 1400;
    --site-max: 1800;
  }
}

/* 📦 Site Layout — container widths, breakpoints, grid setup
 */

// Primary responsive engine
@media (min-width: 768px) {
  :root {
    --site-min: 768;
    --site-basis: 1400;
    --site-max: 1800;
  }
}
