// ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
// 📄 _layout-base.scss
// Site layout and container styles
// ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

// 🧩  Responsive Engine
// -----------------------------------------------------------------------------
// This is our magic "it just works" responsive engine but there are other
// ways to set up a primary container. Todo: show examples
// |--------------------|-------------------------------------------|-----------
// |    Mobile (375)    |                Desktop (1440              |  No scale
// |--------------------|-------------------------------------------|-----------
// | min:320    max:767 | min:768                          max:1800 |
// |--------------------|-------------------------------------------|-----------

// Primary Media Query
@media (min-width: 768px) {
  :root {
    --site-min: var(--desktop-min);
    --site-basis: var(--desktop-basis);
    --site-max: var(--desktop-max);
  }
}

//  ✏️ Site Layout
// -----------------------------------------------------------------------------
// Custom code here

body {
  min-height: 100vh;
}
