// enable Fluid Type for all type-based html elements

tt,
i,
b,
big,
small,
em,
strong,
dfn,
code,
samp,
kbd,
var,
cite,
abbr,
acronym,
sub,
sup,
span,
bdo,
address,
div,
a,
object,
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
q,
ins,
del,
dt,
dd,
li,
label,
option,
textarea,
fieldset,
legend,
button,
caption,
td,
th,
title,
blockquote,
input {
  --fontSizeMin: calc(var(--fontSize) * var(--siteMin) / var(--siteBasis));
  --fontSizeMax: calc(var(--fontSize) * var(--siteMax) / var(--siteBasis));
  --fontSizeMinClamp: var(--fontSizeMin);
  --fontSizeMaxClamp: var(--fontSizeMax);
  
  font-weight: unset !important;

  font-size: clamp(
    calc(var(--fontSizeMinClamp) * 1px),
    calc(
      (var(--fontSizeMin) / var(--emBase)) * 1rem +
        (var(--fontSizeMax) - var(--fontSizeMin)) *
        (100vw - var(--siteMin) * 1px) / (var(--siteMax) - var(--siteMin))
    ),
    calc(var(--fontSizeMaxClamp) * 1px)
  );
}
