html {
  font-family: $bodyFontStack;
  font-size: em($baseFontSize);
  line-height: 150%;
  font-weight: $bodyFont-regular;
}

// extend for all selectors you want to be fluid
h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
  line-height: 1.2;
  @extend %fluidType;
}

// Initial Heading sizes
// Note: you can and should change these per project
h1 {
  --fontSize: 43;

  @media (min-width: #{$sitePortraitFlip}px) {
    --fontSize: 56;
  }
}

h2 {
  --fontSize: 37;

  @media (min-width: #{$sitePortraitFlip}px) {
    --fontSize: 48;
  }
}

h3 {
  --fontSize: 28;

  @media (min-width: #{$sitePortraitFlip}px) {
    --fontSize: 36;
  }
}

h4 {
  --fontSize: 22;

  @media (min-width: #{$sitePortraitFlip}px) {
    --fontSize: 27;
  }
}

h5 {
  --fontSize: 18;

  @media (min-width: #{$sitePortraitFlip}px) {
    --fontSize: 21;
  }
}

h6 {
  --fontMin: 16;
  --fontSize: 18;

  @media (min-width: #{$sitePortraitFlip}px) {
    --fontSize: 21;
  }
}

p {
  // you can specifically override min and max anywhere
  --fontMin: 14;
  --fontSize: 14;
  --fontMax: 28;

  // desktop
  @media (min-width: #{$sitePortraitFlip}px) {
    --fontSize: 16;
  }
}
