@use 'sass:math';

@function aspectRatio($number1, $number2) {
  @return math.div($number2, $number1) * 100%;
}

@function removeUnit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return math.div($number, $number * 0 + 1);
  }

  @return $number;
}

@function em($px) {
  @return #{math.div(removeUnit($px), $emBase)}em;
}

@function rem($px) {
  @return #{math.div(removeUnit($px), $emBase)}rem;
}

@function px($em) {
  @return #{$em * $emBase}px;
}

@function vw($px, $range: desktop) {
  $basis: 0;
  $max: 0;

  @if $range == desktop {
    $basis: $siteBasis--desktop;
    $max: $siteMax--desktop;
  } @else if $range == mobile {
    $basis: $siteBasis--mobile;
    $max: $siteMax--mobile;
  }

  @if $basis != 0 and $max != 0 {
    @return clamp(
      1px,
      #{removeUnit($px) * math.div(100, $basis)}vw,
      #{math.div((removeUnit($px) * $max), $basis)}px
    );
  } @else {
    @error 'Error in vw: $basis and $max must not be equal to zero. $basis: #{$basis}, $max: #{$max}';
  }
}
