$ms: 320 !default; // Mobile smallest
$mm: 375 !default; // Mobile medium
$mp: 480 !default; // Mobile portrait
$ml: 624 !default; // Mobile landscape
$tp: 768 !default; // Tablet portrait
$tl: 1024 !default; // Tablet landscape
$dk: 1280 !default; // Desktop
$lf: 1600 !default; // Large format

$headerNavBreakpoint: $tl !default;
$footerNavBreakpoint: $dk !default;
$gridGutter: 5% !default;
$gridColumns: 12 !default;
$gridWidth: 100% - ($gridGutter * 2) !default;
$minContentWidth: $ms !default;
$maxContentWidth: $dk !default;
$maxFormWidth: $tp !default;
$maxReaderWidth: $tp !default;
$siteMin: $ms !default;
$siteMin--desktop: $tl !default;
$siteBasis--mobile: $mm !default;
$siteBasis--desktop: $dk !default;
$siteMax--mobile: $tp !default;
$siteMax--desktop: $lf !default;
