$spacing-01: vw(6px) !default;
$spacing-02: vw(12px) !default;
$spacing-03: vw(16px) !default;
$spacing-04: vw(24px) !default;
$spacing-05: vw(32px) !default;
$spacing-06: vw(40px) !default;
$spacing-07: vw(48px) !default;
$spacing-08: vw(64px) !default;
$spacing-09: vw(80px) !default;
$spacing-10: vw(96px) !default;
$spacing-11: vw(120px) !default;
$spacing-12: vw(160px) !default;

$spacing-default: $spacing-07 !default;
